// 이 .dtsi 파일은 MW60A 키보드 펌웨어의 일부임

// 여기에 사용하지 않는 피지컬 키를 포함하더라도 에러는 발생하지 않는다.
// ZMK studio 등에서 열었을 때, unknown으로 표시될 뿐이다.


#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan>;

        // Edit this to define the positions and sizes of the keys, or remove it
        // if your keyboard will not support ZMK Studio.
        // https://zmk.dev/docs/development/hardware-integration/physical-layouts#optional-keys-property
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   25    1200   600   550>
            , <&key_physical_attrs 100 100  100    0    1200   600   550>
            , <&key_physical_attrs 100 100  200    0    1200   600   550>
            , <&key_physical_attrs 100 100  300    0    1200   600   550>
            , <&key_physical_attrs 100 100  400    0    1200   600   550>
            , <&key_physical_attrs 100 100  800   21 (-1200)   600   550>
            , <&key_physical_attrs 100 100  900   21 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1000   21 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1100   21 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1200   46 (-1200)   600   550>
            , <&key_physical_attrs 100 100    0  125    1200   600   550>
            , <&key_physical_attrs 100 100  100  100    1200   600   550>
            , <&key_physical_attrs 100 100  200  100    1200   600   550>
            , <&key_physical_attrs 100 100  300  100    1200   600   550>
            , <&key_physical_attrs 100 100  400  100    1200   600   550>
            , <&key_physical_attrs 100 100  800  121 (-1200)   600   550>
            , <&key_physical_attrs 100 100  900  121 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1000  121 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1100  121 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1200  146 (-1200)   600   550>
            , <&key_physical_attrs 100 100    0  225    1200   600   550>
            , <&key_physical_attrs 100 100  100  200    1200   600   550>
            , <&key_physical_attrs 100 100  200  200    1200   600   550>
            , <&key_physical_attrs 100 100  300  200    1200   600   550>
            , <&key_physical_attrs 100 100  400  200    1200   600   550>
            , <&key_physical_attrs 100 100  800  221 (-1200)   600   550>
            , <&key_physical_attrs 100 100  900  221 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1000  221 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1100  221 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1200  246 (-1200)   600   550>
            , <&key_physical_attrs 100 100    0  325    1200   600   550>
            , <&key_physical_attrs 100 100  100  300    1200   600   550>
            , <&key_physical_attrs 100 100  200  300    1200   600   550>
            , <&key_physical_attrs 100 100  300  300    1200   600   550>
            , <&key_physical_attrs 200 100  400  300    1200   600   550>
            , <&key_physical_attrs 200 100  700  321 (-1200)   600   550>
            , <&key_physical_attrs 100 100  900  321 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1000  321 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1100  321 (-1200)   600   550>
            , <&key_physical_attrs 100 100 1200  346 (-1200)   600   550>
            
            ;
        };
};
